#main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 50px;
}

.about {
  display: flex;
  text-align: left;
  position: relative;
  border: 2px solid var(--gold3);
  height: auto;
  border-image: linear-gradient(to bottom, var(--gold3), rgba(0, 0, 0, 0)) 1
    100%;
}

.about h2 {
  margin: 50px 50px 0 50px;
  color: #fff;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.readMore {
  position: absolute;
  bottom: -20%;
  right: 5%;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.readMore::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0;
  background: var(--gold2);
  transition: width 0.2s;
}

.readMore:hover:after {
  width: 100%;
}

.logo {
  width: 350px;
  height: 350px;
  z-index: -1;
}

/* Responsivity */

@media (width = 2560px) {
  #main {
    margin: 300px 200px 200px 200px;
    gap: 30%;
    padding: 50px 500px 0 50px;
  }

  .about h2,
  .about a {
    font-size: 48px;
  }

  .logo {
    transform: scale(1.3);
  }
}

@media (width = 1024px) {
  .logo {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (width <= 768px) {
  #main {
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    margin-top: 100px;
  }

  .logo {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (width <= 426px) {
  #main {
    margin-top: 50px;
  }
}
